extends ../layouts/base.pug
block content
    main
        h1 Products
        div.flex
            p Total products: #{products.length}
            a(href='/products/create') New product
        table
            thead
                tr
                    th Name
                    th Price
                    th Stock
                    th 
            tbody
                each product in products
                    tr
                        td= product.name
                        td= product.price
                        td= product.stock
                        td
                            button(type='button', onclick=`window.location.href='/products/${product.id}/edit'`) Edit
                            button(type='button', onclick=`window.location.href='/products/${product.id}'`) View
