extends ../layouts/base.pug
block content
    main
        header.flex
            h2.width Product #{product.name}
            form(action=`/products/${product.id}` method='delete')
                button(type='submit') Delete
            a(href=`/products/${product.id}/edit`) Edit
        p Description: #{product.description}
        p Price: #{product.price}
        p Stock: #{product.stock}

        button(type='button' onclick='javascript:history.back()') Back